<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="ReservasConnectionString" connectionString="Data Source=DESKTOP-P4U67SV;Initial Catalog=ReservaVuelos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ReservasConnectionString2" connectionString="Data Source=DESKTOP-P4U67SV;Initial Catalog=Reservas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ReservasConnectionString3" connectionString="Data Source=DESKTOP-P4U67SV;Initial Catalog=Reservas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
    </system.web>

</configuration>
